* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Poppins', sans-serif;
  color: var(--main-black);
}

a {
  font-size: 14px;
  color: var(--light-grey);
  text-decoration: none;
}

li {
  list-style: none;
}

link {
  text-decoration: none;
  color: currentColor;
}
